<section class="achievement-section">

    <div class="container">

        <div class="section-heading text-center">

            <h6>OUR ACHIEVEMENTS</h6>

            <h2>Numbers That Speak For Our Success</h2>

        </div>

        <div class="row g-4">

            {% for item in achievements %}

            <div class="col-lg-3 col-md-6">

                <div class="achievement-card">

                    {% if item.icon %}
                    <i class="{{ item.icon }}"></i>
                    {% endif %}

                    <h1 class="counter"
    data-target="{{ item.value }}"
    data-suffix="{{ item.suffix }}">
    0
</h1>

                    <h5>

                        {{ item.title }}

                    </h5>

                </div>

            </div>

            {% endfor %}

        </div>

    </div>

</section>