.achievement-section{
    padding:100px 0;
    background:linear-gradient(135deg,#0f172a,#1e3a8a);
    color:#fff;
}

.section-heading h6{
    color:#60a5fa;
    font-weight:600;
    letter-spacing:2px;
}

.section-heading h2{
    margin-bottom:60px;
    font-weight:700;
}

.achievement-card{
    text-align:center;
    padding:30px;
}

.achievement-card i{
    font-size:45px;
    color:#60a5fa;
    margin-bottom:20px;
}

.achievement-card h1{
    font-size:60px;
    font-weight:700;
    margin-bottom:10px;
}

.achievement-card h5{
    font-weight:500;
}